- key: 'yourderpibooruAPIkey' # Required.
  images_per_page: 50 # Not required. 50 is the recommended value. Not fully tested with others.
  comments_per_page: 20 # Not required. Change this value if the number of comments per page ever changes on the site.
