- key: {your API key}
  images_per_page: 50 # Recommended value. Not fully tested with others.
  comments_per_page: 20 # Number of comments per comment page API call. Default 20.
  start_user_id: 1 # User to start at. Default 0.
  end_user_id: 1 # User to end at. Default 0. 
  load_full_users: False # Load users with all of their faves. Default False.
  start_image_id: 1 # Image to start loading at. Default 0.
  end_image_id: 1 # Image to stop loading at. Default 0.
  load_full_images: False # Load images with all of their comments. Default False.
  start_tag_page: 1 # Tag page to start loading at
  end_tag_page: 1 # Last tag page to load
  num_request_threads: 1 # Number of request threads to create. Default 1.
  max_requests_per_second: 4 # Max number of requests per second. This can be a decimal. Default 4.
  max_retry_count: 2 # Maximum number of times a request is retried before aborting
